<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Главная</a>
        <a class="navbar-brand" href="/masterclasses">Мастер-классы</a>
        <a class="navbar-brand" href="/add_event">Добавить событие</a>
        <a class="navbar-brand" href="/profile">Профиль</a>
        <a class="navbar-brand" href="/logout">Выход</a>
    </nav>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/login">Авторизация</a>
        <a class="navbar-brand" href="/registration">Регистрация</a>
    </nav>
</header>

<main role="main" class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, msg in messages %}
            <div class="alert alert-{{ category if category in ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'] else 'info' }}" role="alert">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
</body>
</html>